<a href="https://colab.research.google.com/github/Bashashkin/osnovy_program/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# № 4.2.1

Рассчитать значение f при заданном значении вещественного числа x:

![image.png]()

При выводе на экран оставьте 2 знака после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_01.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

x=int(input('Введите x'))
if x>=0:
    f = x**(1/2) + x**2
else:
    f = 1/x
f = round(f,2)
print(f)

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

Введите x-1
-1.0

# № 4.2.2
Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_02.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

a = int(input('Введите значение а'))
b = int(input('Введите значение b'))
if a>b:
    print ('Максимум: ',a)
elif a == b:
    print ('значения равны')
else:
    print ('Максимум: ', b, 'Минимум:',a)
# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1
# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5
# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

Введите значение а10
Введите значение b20
Максимум:  20 Минимум: 10

# № 4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

Все величины - целые числа.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_03.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

a = int(input('Ширина форточки = '))
b = int(input('Высота форточки = '))
d = int(input('Диаметр головы = '))

# Введенные числа должны быть положительными, если так - осуществляем
# расчет, иначе выводим "Проверьте ввод"
if a>0 and b>0 and d>0:
    fix = 1  # Зазор
    if a >= fix + d and b >= fix + d:
      print('Да')
    else:
      print('Нет')
else:
    print('Проверьте ввод')
# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Ширина форточки = 5
Высота форточки = 6
Диаметр головы = 6
Нет

# № 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_04.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


year_today = int(input('Введите текущий год: '))
month_today = int(input('Введите текущий месяц: '))
year = int(input('Введит год рождения: '))
month = int(input('Введите месяц рождения: '))
if month_today >= month:
  age = year_today - year
else:
  age = year_today - year - 1
print("Число полных лет: ", age)

# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Введите текущий год: 2020
Введите текущий месяц: 5
Введит год рождения: 2000
Введите месяц рождения: 5
Число полных лет:  20

# № 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_05.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru



x = int(input('Введите координату x: '))
y = int(input('Введите координату y: ')) 

if x>0 and y>0:
    print("1-я четверть")
elif x<0 and y>0:
  print("2-я четверть")
elif x<0 and y<0:
  print("3-я четверть")
elif x>0 and y<0:
  print("4-я четверть")

# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

Введите координату x: -2
Введите координату y: 10
2-я четверть

# № 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение 
![image.png]()
 При выводе значений оставьте 1 знак после запятой

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_06.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


a = float(input('Введите значение a: '))
b = float(input('Введите значение b: '))
c = float(input('Введите значение c: '))

d = (b**2)-(4*a*c)
if d<0:
    print('Нет решения.')
elif d==0:
    x1 = (-1*b)/2*a
    x1 = round(x1,1)
    print('x = ', x1)
else:
    x2 = ((-1*b)+(d**(1/2)))/2*a
    x1 = ((-1*b)-(d**(1/2)))/2*a
    x1 = round(x1,1)
    x2 = round(x2,1)
    print('x1 =',x1,'x2 =',x2)
  
# Вывод решения в зависимости от значения дискриминанта
# При выводе значений оставьте 1 знак после запятой
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

Введите значение a: 1
Введите значение b: 3
Введите значение c: -4
x1 = -4.0 x2 = 1.0

# № 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_07.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


nums_sum = 0  # сумма
nums_count = 0  # количество

x = int(input('Введите 1-е число '))
j = 2

while x != 0:
  nums_count += 1 
  nums_sum += x
  x = int(input('Введитe {}-е число: '.format(j)))
  j+=1
  
print('Сумма = ',nums_sum)
print('Количество  = ',nums_count)
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите 1-е число 1
Введитe 2-е число: 2
Введитe 3-е число: 3
Введитe 4-е число: 4
Введитe 5-е число: 0
Сумма =  10
Количество  =  4

# № 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_08.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


n = int(input('n = '))

x = 0
while x<=n:
  print(x)
  x+=5
  

  

# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

0
5
10

# № 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно

![image.png]()

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_09.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

a = float(input('a = '))
n = 1
x_sum = 1/n
while x_sum <= a:
  n+=1
  x_sum += 1/n

print(n)

# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

a = 1.5
3

# № 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_10.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


n = int(input('n = '))
n_sum = 0
n_count = 0
while n != 0:
  n_sum += n%10 
  n_count +=1
  n //=10
print ('Сумма = ', n_sum)
print ('Количество = ', n_count)



# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

n = 12345
Сумма =  15
Количество =  5

# № 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

числа от минимального до максимального в строчку (разделяя пробелом);

числа от максимального до минимального «столбиком»

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_12.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


a = int(input('a = '))
b = int(input('b = '))
if a < b:
  j = list(range(a,b+1,1))
  print(j)
else:
  j = list(range(b,a+1,1))
  print(j)

j.reverse()
print("\n".join(map(str, j)))


# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

a = 1
b = 5
[1, 2, 3, 4, 5]
5
4
3
2
1

# № 4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:

сумму всех целых чисел от a до b;

произведение всех целых чисел от a до b;

среднее арифметическое всех целых чисел от a до b;

среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_13.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


a = int(input('a = '))
b = int(input('b = '))

j=list(range(a,b+1,1))
n_sum = sum(j)

n_mult = 1
a = 1
while a<len(j):
  n_mult *= j[a]
  a+=1

n_avg = round(n_sum / len(j),2)

n_avg_geom = 1
b = 1
k = 0
while b<len(j):
  if j[b]%2 == 1:
    n_avg_geom *= j[b]
    b+=2
    k+=1
  else:
    b+=1
k+=1
n_avg_geom = round((n_avg_geom**(1/k)),2)



print("Сумма =", n_sum)
print("Произведение =", n_mult)
print("Среднее арифметическое =", n_avg)
print("Среднее геометрическое нечетных чисел", n_avg_geom)

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

a = 10
b = 14
Сумма = 60
Произведение = 24024
Среднее арифметическое = 12.0
Среднее геометрическое нечетных чисел 5.23

# № 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

пробег лыжника за второй, третий, …, десятый день тренировок;

какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_14.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

s = float(input('Пробег за 1-й день (км.) = '))
p = float(input('На сколько увеличивает пробег (%) = '))
x = 1
total = s


while x < 10:
  x+=1 
  s = round(s + s*(p/100),2)
  total += s
  print('Пробег за {}-й день:'.format(x),s)
  
 

  

print("Суммарный пробег: {:.1f} км.".format(total))

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Пробег за 1-й день (км.) = 5
На сколько увеличивает пробег (%) = 10
Пробег за 2-й день: 5.5
Пробег за 3-й день: 6.05
Пробег за 4-й день: 6.65
Пробег за 5-й день: 7.32
Пробег за 6-й день: 8.05
Пробег за 7-й день: 8.86
Пробег за 8-й день: 9.75
Пробег за 9-й день: 10.72
Пробег за 10-й день: 11.79
Суммарный пробег: 79.7 км.

# № 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_15.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


p = int(input('Грузоводъемность грузовика (кг.) = '))
n = int(input('Количество предметов = '))
j = list()
for x in range(n):
  f = int(input(' Масса {}-го предмета (кг.) = '.format(x+1)))
  j.append(f)
if sum(j)<=p:
  print('Да')
else:
  print('Нет')

# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

Грузоводъемность грузовика (кг.) = 10
Количество предметов = 2
 Масса 1-го предмета (кг.) = 3
 Масса 2-го предмета (кг.) = 3
Да

# № 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_16.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

s = 0
summ = 0
n = int(input('Количество районов = '))
j = list()

for x in range(n):
  f = float(input('Площадь {}-го района (га) = '.format(x+1)))
  g = float(input('Урожайность в {}-м районе (ц/га.) = '.format(x+1)))
  s = f*g
  j.append(s)
  summ += s
print('Собрано пшеницы: ', summ)



# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

Количество районов = 3
Площадь 1-го района (га) = 4
Урожайность в 1-м районе (ц/га.) = 2
Площадь 2-го района (га) = 7
Урожайность в 2-м районе (ц/га.) = 3
Площадь 3-го района (га) = 9
Урожайность в 3-м районе (ц/га.) = 4
Собрано пшеницы:  65.0

# № 4.2.17

Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_17.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


nums_sum = 0  # сумма
nums_count = 0  # количество

x = int(input('Введите 1-е число '))
j = 2

while x != 0:
  nums_count += 1 
  nums_sum += x
  x = int(input('Введитe {}-е число: '.format(j)))
  j+=1
  if x == 0:
    break

print('Сумма = ',nums_sum)
print('Количество  = ',nums_count)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите 1-е число 1
Введитe 2-е число: 2
Введитe 3-е число: 3
Введитe 4-е число: 4
Введитe 5-е число: 0
Сумма =  10
Количество  =  4

# № 4.2.18

Предложение, введенное с клавиатуры, содержит слова из гласных и согласных букв кириллицы (регистр может быть различный), а также пробелы.

Определите количество гласных и согласных букв в предложении. Для пропуска пробелов используйте оператор continue.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_18.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

gl_count = 0  # Кол-во гласных
sogl_count = 0  # Кол-во согласных

sentence = input('Введите предложение: ')
for x in sentence:
  gl = x.lower()
  if gl == 'а' or gl == 'ы' or gl == 'у' or gl == 'е' or gl == 'о' or gl == 'э' or gl == 'я' or gl == 'и' or gl == 'ю':
    gl_count += 1
  else:
    sogl_count += 1 
print('Кол-во букв в предложении: гласных - ', gl_count,', согласных - ', sogl_count)


# --------------
# Пример вывода:
#
# Введите предложение: Программирование
# Кол-во букв в предложении: гласных - 7, согласных - 9

Введите предложение: Работа
Кол-во букв в предложении: гласных -  3 , согласных -  3

# № 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [14]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_19.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru



a = int(input('а = '))
b = int(input('b = '))
c = int(input('c = '))

j = list()

for x in range(a,b+1):
    if x % c == 0:
        j.append(x)
print(j)

# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

а = 1
b = 10
c = 2
[2] [2, 4] [2, 4, 6] [2, 4, 6, 8] [2, 4, 6, 8, 10]

# № 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_20.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


n = int(input('n = '))
j=list()
if n < 0 or n > 27:
  print('Введите другое число')
else:
  for x in range(100,999):
    if (x // 100) + (x % 100 // 10) + (x % 10) == n:
      j.append(x)
print(j)



# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

n = 3
[102, 111, 120, 201, 210, 300]

# № 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_21.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

n = int(input('n = '))

n_m = 0
n_d = 0
r_sr_m = 0.0
r_sr_d = 0.0

for x in range(1,n+1):
  r = int(input('Рост {}-го ученика = '.format(x)))
  if r < 0:
    n_m += 1
    r_sr_m += r
  else:
    n_d += 1
    r_sr_d += r

r_sr_m /= n_m
r_sr_d /= n_d

r_sr_m *= (-1)



print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

n = 5
Рост 1-го ученика = 150
Рост 2-го ученика = -150
Рост 3-го ученика = 160
Рост 4-го ученика = 170
Рост 5-го ученика = 180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

# № 4.2.22

Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_22.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


n = int(input('n = '))

j = list()

for x in range (1,n+1):
  a = float(input('{}-е число = '.format(x)))
  j.append(a)

a_max = max(j)
a_min = min(j)



print("Максимум: {:.2f}".format(a_max))
print("Минимум: {:.2f}".format(a_min))

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 6.2
# 2-е число = 3.8
# 3-е число = 1.1
# 4-е число = 9.66
# Максимум: 9.66
# Минимум: 1.10

n = 4
1-е число = 6.2
2-е число = 3.8
3-е число = 1.1
4-е число = 9.66
Максимум: 9.66
Минимум: 1.10

# № 4.2.23

Дано натуральное число n. Определите, является ли оно членом последовательности Фибоначчи .

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_23.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


n = int(input('n = '))

fib1 = fib2 = a = 1

while n != fib1:
  if n < fib1:
    print('Не является')
    break
  else:
    a = fib1
    fib1 += fib2 
    fib2 = a 
else:
  print('Является')

# --------------
# Пример вывода:
#
# n = 7
# Не является
#
# n = 8
# Является

n = 8
Является

# № 4.2.24

Дано n вещественных чисел. Определите, является ли последовательность упорядоченной по возрастанию. В случае отрицательного ответа выведите порядковый номер числа, нарушающего такую упорядоченность.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_24.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

n = int(input('n = '))
j = list()
i = bool

for x in range(1,n+1):
  a = float(input('{}-е число = '.format(x)))
  j.append(a)

for x in range(1,n):
  if j[x-1] >= j[x]:
    i = False
    break
  else:
    i = True
if i == True:
  print('Является')
else:
  print(x)

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 2
# 2-е число = 4.6
# 3-е число = 6
# 4-е число = 8.3
# Является
#
# n = 3
# 1-е число = 3
# 2-е число = 3
# 2

n = 3
1-е число = 3
2-е число = 3
3-е число = 4
1

# № 4.2.25

Выведите на экран таблицу умножения на n (2<n≤9) в виде:

![image.png]()

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_25.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


n = int(input('n = '))

for x in range(1,n+1):
  for y in range(1,n+1):
    print(f'{x} * {y} = {x * y}\t', end=' ')
  print('')

# --------------
# Пример вывода:
#
# n = 5
# 1 * 1 =  1  1 * 2 =  2  1 * 3 =  3  1 * 4 =  4  1 * 5 =  5
# 2 * 1 =  2  2 * 2 =  4  2 * 3 =  6  2 * 4 =  8  2 * 5 = 10
# 3 * 1 =  3  3 * 2 =  6  3 * 3 =  9  3 * 4 = 12  3 * 5 = 15
# 4 * 1 =  4  4 * 2 =  8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20
# 5 * 1 =  5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25

n = 5
1 * 1 = 1	 1 * 2 = 2	 1 * 3 = 3	 1 * 4 = 4	 1 * 5 = 5
2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10
3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15
4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20
5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25

# № 4.2.28

Составьте программу для нахождения всех натуральных решений уравнения 
![image.png]()

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_28.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


k = int(input('k = '))

for x in range(1,31):
  for y in range(1,31):
    for z in range(1,31):
      if x**2 + y**2 + z**2 == k**2:
        print('x = ',x, ', y = ',y,', z = ',z)  

# --------------
# Пример вывода:
#
# k = 30
# x =  4, y = 10, z = 28
# x =  4, y = 20, z = 22
# x =  4, y = 22, z = 20
# x =  4, y = 28, z = 10
# x = 10, y =  4, z = 28
# x = 10, y = 20, z = 20
# x = 10, y = 28, z =  4
# x = 20, y =  4, z = 22
# x = 20, y = 10, z = 20
# x = 20, y = 20, z = 10
# x = 20, y = 22, z =  4
# x = 22, y =  4, z = 20
# x = 22, y = 20, z =  4
# x = 28, y =  4, z = 10
# x = 28, y = 10, z =  4

k = 30
x =  4 , y =  10 , z =  28
x =  4 , y =  20 , z =  22
x =  4 , y =  22 , z =  20
x =  4 , y =  28 , z =  10
x =  10 , y =  4 , z =  28
x =  10 , y =  20 , z =  20
x =  10 , y =  28 , z =  4
x =  20 , y =  4 , z =  22
x =  20 , y =  10 , z =  20
x =  20 , y =  20 , z =  10
x =  20 , y =  22 , z =  4
x =  22 , y =  4 , z =  20
x =  22 , y =  20 , z =  4
x =  28 , y =  4 , z =  10
x =  28 , y =  10 , z =  4

In [19]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_29.
#
# Выполнил: Башашкин А.М
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru


n = int(input("n = "))

nums = list()

nums_pos = list()
nums_neg = list()
a_pos = 0
a_neg = 0

for x in range(1,n+1):
  a=float(input(f'Введите {x} -й элемент списка: '))
  nums.append(a)
  if a < 0:
    a = a_neg
    nums_neg.append(a_neg)
  else:
    a = a_pos
    nums_pos.append(a_pos)
print('Исходный список:', nums)
print('Положительные числа:', nums_pos)
print('Отрицательные числа:', nums_neg)



# --------------
# Пример вывода:
#
# n = 4
# Введите 1-й элемент списка: 1
# Введите 2-й элемент списка: 6
# Введите 3-й элемент списка: -10
# Введите 4-й элемент списка: -3
# Исходный список: [1.0, 6.0, -10.0, -3.0]
# Положительные числа: [1.0, 6.0]
# Отрицательные числа: [-10.0, -3.0]
# Ср. арифм.: 3.50
# Ср. геом.: 5.48

n = 4
Введите 1 -й элемент списка: 1
Введите 2 -й элемент списка: 6
Введите 3 -й элемент списка: -10
Введите 4 -й элемент списка: -3
Исходный список: [1.0, 6.0, -10.0, -3.0]
Положительные числа: [0, 0]
Отрицательные числа: [0, 0]